@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
* {
  font-family: "Open Sans", sans-serif; }

body, html {
  padding: 0;
  margin: 0; }

p {
  font-size: 12pt; }

h5 {
  font-size: 1.2em; }

h4 {
  font-size: 1.3em; }

h2 {
  font-size: 2.2em; }

h1 {
  font-size: 3em;
  font-family: "Leckerli One", cursive; }

img {
  width: 100%; }

.header {
  display: flex;
  flex-direction: column; }

.header-content {
  background-image: url("./../img/succ-small.jpeg");
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex; }
  .header-content h1 {
    color: #fff7f2;
    font-weight: bold; }
  .header-content p {
    color: #fff7f2;
    font-weight: bold; }
  .header-content h5 {
    color: #fff7f2;
    font-style: italic; }
  .header-content h4 {
    color: #e24e42;
    font-weight: bold;
    align-self: center; }

.essentials-resources {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #AE996A; }
  .essentials-resources h4 {
    color: inherit;
    font-weight: bold; }
  .essentials-resources h6 {
    color: inherit;
    font-weight: bold; }

.form-about {
  background-image: url("./../img/building.jpg");
  background-color: #008F95 40%;
  display: flex; }

.form-container {
  background-color: #E98000 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #363536; }
  .form-container input {
    background-color: #FCF7F7 60%; }
  .form-container button {
    align-self: flex-end;
    background-color: #e24e42 80%; }

.about {
  background-color: #e24e42 40%;
  color: #fff7f2;
  align-items: center; }

.free-trial button {
  background-color: #D8D8D8;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e24e42;
  color: #363536; }

.amenities {
  color: #AE996A;
  font-weight: bold; }

.image-display {
  background-image: url(".img/meeting-area-small.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.worker {
  border: 2px solid #EB6E80;
  max-width: 110px; }

.coffee {
  border: 2px solid #E98000;
  max-width: 87px; }

.lounge {
  border: 2px solid #e24e42;
  max-width: 252px; }

.pricing {
  background-image: url("./img/folks.jpeg");
  background-size: cover;
  background-color: white 30%;
  display: flex; }

.pricing-specs {
  background-color: #008F95;
  color: #fff7f2;
  justify-content: center;
  align-items: center; }
