@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
* {
  font-family: "Open Sans", sans-serif; }

body, html {
  padding: 0;
  margin: 0; }

p {
  font-size: 10pt; }

h5 {
  font-size: 1.8em; }

h4 {
  font-size: 2.1em; }

h2 {
  font-size: 2.5em; }

h1 {
  font-size: 4.5em;
  font-family: "Leckerli One", cursive; }

label {
  font-size: .8em; }

img {
  width: 100%; }

.header {
  display: flex;
  flex-direction: column; }

.header-content {
  background-image: url("./../img/succ-small.jpeg");
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex; }
  .header-content h1 {
    color: #fff7f2;
    font-weight: bold;
    padding-right: 45px; }
  .header-content h5 {
    color: #fff7f2;
    font-weight: italic;
    padding-right: 30px; }
  .header-content h4 {
    color: #e24e42;
    font-weight: bold;
    align-self: center;
    padding-left: 200px; }

.essentials-resources {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #AE996A; }
  .essentials-resources h4 {
    color: inherit;
    font-weight: bold; }
  .essentials-resources p {
    color: inherit; }

.form-about {
  background-image: url("./../img/building.jpg");
  background-size: cover;
  background-color: rgba(0, 143, 149, 0.5);
  display: flex;
  flex-direction: column; }

.form-container {
  background-color: rgba(233, 128, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 10px;
  color: #363536; }
  .form-container input {
    background-color: rgba(252, 247, 247, 0.5); }
  .form-container button {
    align-self: flex-end;
    background-color: #e24e42; }

.about {
  display: flex;
  background-color: rgba(226, 78, 66, 0.9);
  color: #fff7f2;
  align-items: center;
  padding: 10px;
  margin: 20px; }
  .about p {
    font-size: .7em; }
  .about br {
    line-height: 2em; }

.free-trial button {
  background-color: #D8D8D8;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e24e42;
  color: #363536; }

.col-align {
  display: flex;
  align-items: center;
  text-align: center; }

.free-trial {
  display: flex;
  align-items: center;
  text-align: center; }

.amenities {
  color: #AE996A;
  font-weight: bold;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .amenities p {
    font-size: 1.5em; }

.thursday {
  color: #e24e42;
  font-weight: bold;
  font-size: 1.1em; }

.image-display {
  background-image: url("./../img/circle-small.jpeg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 60px 0; }

.worker {
  border: 5px solid #EB6E80;
  max-width: 275px;
  margin-bottom: 40px; }

.coffee {
  border: 5px solid #e98000;
  max-width: 200px;
  margin-bottom: 40px; }

.lounge {
  border: 5px solid #e24e42;
  max-width: 400px; }

.pricing {
  background-image: url("./../img/folks.jpeg");
  background-size: cover;
  background-color: white 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }

.pricing-specs {
  background-color: rgba(0, 143, 149, 0.5);
  color: #fff7f2;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 70px 150px 70px 150px; }
  .pricing-specs h3 {
    font-size: 1.9em; }
  .pricing-specs p {
    font-size: 1.4em; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.map {
  border: 4px solid #e98000; }

.gold {
  color: #AE996A; }

.food {
  color: #AE996A;
  font-weight: bold;
  font-size: 1.1em; }

.blush {
  color: #363536; }

.share-space h1 {
  color: #e24e42;
  font-family: "Leckerli One", cursive; }

.contact-info {
  color: #AE996A;
  font-weight: bold; }

.mustard-exploitation {
  color: #EB6E80; }

.footer-text {
  color: #363536; }
