@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
* {
  font-family: "Open Sans", sans-serif; }

body, html {
  padding: 0;
  margin: 0; }

p {
  font-size: 10pt; }

h5 {
  font-size: 1.8em; }

h4 {
  font-size: 2.1em; }

h2 {
  font-size: 2.5em; }

h1 {
  font-size: 4.5em;
  font-family: "Leckerli One", cursive; }

label {
  font-size: .8em; }

img {
  width: 100%; }

.header {
  display: flex;
  flex-direction: column; }

.header-content {
  background-image: url("./../img/succ-small.jpeg");
  padding: 20px;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex; }
  .header-content h1 {
    color: #fff7f2;
    font-weight: bold; }
  .header-content h5 {
    color: #fff7f2;
    font-weight: italic; }
  .header-content h4 {
    color: #e24e42;
    font-weight: bold;
    align-self: center;
    padding-left: 30%; }

.essentials-resources {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 80px;
  color: #AE996A; }
  @media only screen and (min-width: 600px) {
    .essentials-resources {
      flex-direction: row;
      justify-content: space-around; } }
  @media only screen and (min-width: 900px) {
    .essentials-resources {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 40px; } }

.essentials {
  margin-right: 50px; }
  @media only screen and (max-width: 600px) {
    .essentials {
      margin-right: 0; } }

.bigger {
  font-size: 1.4em;
  font-weight: bold; }

.form-about {
  background-image: url("./../img/building.jpg");
  background-size: cover;
  background-color: rgba(0, 143, 149, 0.5);
  display: flex;
  flex-direction: column; }

.form-container {
  background-color: rgba(233, 176, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  padding: 10px;
  color: #363536; }
  .form-container input {
    background-color: rgba(252, 247, 247, 0.5);
    width: 100%;
    margin-bottom: 12px; }
  .form-container button {
    align-self: flex-end;
    background-color: #e24e42;
    font-size: 1.1em;
    box-shadow: 1px 1px 1px 1px #363536;
    transition: all 300ms linear; }
    .form-container button:hover {
      box-shadow: 3px 4px 3px 2px #363536; }

.form {
  padding: 20px;
  min-width: 70%; }

.about {
  display: flex;
  background-color: rgba(226, 78, 66, 0.9);
  color: #fff7f2;
  align-items: center;
  padding: 20px;
  margin: 30px; }
  .about p {
    font-size: .9em; }
  .about br {
    line-height: 2em; }

.free-trial button {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e24e42;
  color: #363536; }

.col-align {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }

.free-trial {
  margin: 30px 0 30px 0; }
  .free-trial button {
    align-self: flex-end;
    background-color: #D8D8D8;
    font-size: 1.1em;
    box-shadow: 1px 1px 1px 1px #363536;
    transition: all 300ms linear; }
    .free-trial button:hover {
      box-shadow: 3px 4px 3px 2px #363536; }

.amenities {
  color: #AE996A;
  font-weight: bold;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .amenities p {
    font-size: 1.5em; }

.thursday {
  color: #e24e42;
  font-weight: bold;
  font-size: 1.1em; }

.image-display {
  background-image: url("./../img/circle-small.jpeg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 60px 0; }
  .image-display img {
    transition: all 300ms linear;
    box-shadow: 2px 3px 3px 2px #363536; }
    .image-display img:hover {
      box-shadow: 3px 5px 5px 3px #363536; }

.worker {
  border: 5px solid #EB6E80;
  max-width: 275px;
  margin-bottom: 40px; }

.coffee {
  border: 5px solid #e98000;
  max-width: 200px;
  margin-bottom: 40px; }

.lounge {
  border: 5px solid #e24e42;
  max-width: 400px; }

.pricing {
  background-image: url("./../img/folks.jpeg");
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }

.pricing-specs {
  background-color: rgba(0, 143, 149, 0.5);
  color: #fff7f2;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px; }
  .pricing-specs h3 {
    font-size: 1.9em; }
  .pricing-specs p {
    font-size: 1.4em; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.map {
  border: 4px solid #e98000; }

.gold {
  color: #AE996A; }

@media only screen and (min-width: 600px) {
  .info p {
    font-size: 1.5em; } }

.food {
  color: #AE996A;
  font-weight: bold;
  font-size: 1.1em; }

.blush {
  color: #363536; }

.share-space h1 {
  color: #e24e42;
  font-family: "Leckerli One", cursive; }

.contact-info {
  color: #AE996A;
  font-weight: bold; }
  @media only screen and (min-width: 600px) {
    .contact-info {
      font-size: 1.8em;
      border: 2px solid teal; } }

.mustard-exploitation {
  color: #EB6E80; }

.footer-text {
  color: #363536; }
