$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Leckerli One', cursive;

$gold: #AE996A;
$lightgrey: #D8D8D8;
$turquoise: #008F95;
$orange: #E98000;
$white: #fff7f2;
$darkgrey: #363536;
$beige: #FCF7F7;
$hotpink: #e24e42;
$coolpink: #EB6E80;
