.col-align {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.free-trial {
  margin: 30px 0 30px 0;
    button {
      align-self: flex-end;
      background-color: $lightgrey;
      font-size: 1.1em;
      box-shadow: 1px 1px 1px 1px $darkgrey;
      transition: all 300ms linear;
      &:hover {
        box-shadow: 3px 4px 3px 2px $darkgrey;
      }
    }
}

.amenities {
  color: $gold;
  font-weight: bold;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
    p {
      font-size: 1.5em;
    }
}
.thursday {
  color: $hotpink;
  font-weight: bold;
  font-size: 1.1em;
}
