.col-align {
  display: flex;
  align-items: center;
  text-align: center;

}

.amenities {
  color: $gold;
  font-weight: bold;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.thursday {
  color: $hotpink;
  font-weight: bold;
  font-size: 1.1em;
}
