.header {
  display: flex;
  flex-direction: column;
}

.header-content {
  background-image: url('./../img/succ-small.jpeg');
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
    h1 {
      color: $white;
      font-weight: bold;
    }
    p {
      color: $white;
      font-weight: bold;
    }
    h5 {
      color: $white;
      font-style: italic;
    }
    h4 {
      color: $hotpink;
      font-weight: bold;
      align-self: center;
    }
}

.essentials-resources {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $gold;
    h4 {
      color: inherit;
      font-weight: bold;
    }
    h6  {
      color: inherit;
      font-weight: bold;
    }
}
