.header {
  display: flex;
  flex-direction: column;
}

.header-content {
  background-image: url('./../img/succ-small.jpeg');
  padding: 20px;
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
    h1 {
      color: $white;
      font-weight: bold;
    }
    h5 {
      color: $white;
      font-weight: italic;
    }
    h4 {
      color: $hotpink;
      font-weight: bold;
      align-self: center;
      padding-left: 30%;
    }
}

.essentials-resources {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 80px 0 80px;
  color: $gold;
}
.bigger {
  font-size: 1.4em;
  font-weight: bold;
}
