$white: #fff7f2;
$coral: #e24e42;
$gold: #AE996A;

.header {
  display: flex;
}

.header-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
    h2 {
      color: $white;
      font-weight: bold;
    }
    h5 {
      color: $white;
      font-style: italic;
    }
    h4 {
      color: $coral;
      font-weight: bold;
      align-self: center;
    }
}

.essentials-resources {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $gold;
    h4 {
      color: inherit;
      font-weight: bold;
    }
    h6  {
      color: inherit;
      font-weight: bold;
    }
}
