.image-display {
  background-image: url('./../img/circle-small.jpeg');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 60px 0;
}
.worker {
  border: 2px solid $coolpink;
  max-width: 275px;
  margin-bottom: 40px;
}
.coffee {
  border: 2px solid $orange;
  max-width: 200px;
  margin-bottom: 40px;
}
.lounge {
  border: 2px solid $hotpink;
  max-width: 400px;
}
