.pricing {
  background-image: url('./../img/folks.jpeg');
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.pricing-specs {
  background-color: $turquoise-shear;
  color: $white;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;
    h3 {
      font-size: 1.9em;
    }
    p {
      font-size: 1.4em;
    }
}
