$turquoise: #008F95;
$white: #fff7f2;

.pricing {
  background-image: url('./img/folks.jpeg');
  background-size: cover;
  background-color: white 30%;
  display: flex;
}

.pricing-specs {
  background-color: $turquoise;
  color: $white;
  justify-content: center;
  align-items: center;
}
