<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Arimo', sans-serif;

h1,h2,h3,h4,h5,h6,p,ul,li {
  font-family: $primary-font;
}
p {
  font-size: 12pt;
}
h5 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.3em;
}
h2 {
  font-size: 2.2em;
}
